---
import Container from "../ui/Container.astro";

import SectionHeader from "../ui/SectionHeader.astro";

import ProjectCard from "../ui/ProjectCard.astro";

import { PROJECTS } from "../../data/projects";
---

<section id="projects">

<Container>

<SectionHeader

badge="Portafolio"

title="Algunos proyectos que representan nuestra forma de construir software."

description="Mientras llegan nuestros primeros clientes seguimos creando productos propios para demostrar nuestra capacidad técnica."

/>

<div class="projects-grid">

{

PROJECTS.map(project=>(

<ProjectCard

project={project}

/>

))

}

</div>

</Container>

</section>